<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marinov.news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Noticias"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true">

    <activity
            android:name=".ArticleActivity"
            android:theme="@style/Theme.Noticias"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Noticias"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>